.navbar {
  background-color: #333 !important;
}

/* achie */
.achie {
  height: 100vh;
  background-color: white;
  justify-items: center;
  background-image: url(back1.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* D49C2D */
}

.achie-container {
  width: 85%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10vh;
  gap: 10px;
  overflow-y: auto;
  align-content: flex-start;
  box-sizing: border-box;
  margin: 0 auto;
}

.achie-img {
  width: calc(33.33% - (2 * 10px / 3));
  height: calc((100% - 20px) / 3);
  object-fit: cover;
  border-radius: 5px;
  display: block;
}

@media (max-width: 500px) {
  .achie-img {
    width: calc(50% - (2 * 10px / 2));
    height: calc((100% - 20px) / 3);
  }
}