.hidden {
  display: none;
}
.visible {
  display: block;
}
.button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  text-align: center;
  width: 200px;
  margin-bottom: 20px;
}
.content {
  padding: 20px;
  background-color: lightgray;
}
